=bg($img, $for: png)
	background-image: url('../img/#{$img}.#{$for}')

$gray: #4b4c4c
$g-easy: #2e2f2f
$r-easy: #da281c
$blue: #04b9e6

$AV: 'Avanti', arial
$OP: 'Open Sans', sans-serif

.up
	text-transform: uppercase
.f-row
	display: flex
	flex-direction: row
	justify-content: center
	flex-wrap: wrap
.img-classic
	width: auto