.advant
	padding-top: 3.4rem
	padding-bottom: .7rem
	.f-row
		margin-top: .2rem
	.ele
		width: 33%
		margin-bottom: 2.5rem
		@extend .f-row
		div
			&:last-child
				max-width: 70% 
				margin-left: 4%
				display: flex
				flex-direction: column
				justify-content: center
				align-items: flex-start
				p
					strong
						text-transform: uppercase
						font:
							weight: 600